@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

body {
  margin: 0;
  font-family: 'Inter';
}

.page-layout {
  display: flex;
  flex-direction: column; /* Stacks items vertically */
  min-height: 100vh;
  background-color: #E4E3E3;
}

.main-content {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}